<h1>Your Spouse</h1>

<!-- <pre> {{ spouse | json }} </pre> -->

<p> First Name: {{spouse.firstName }}</p>
<p> Last Name: {{spouse.lastName }}</p>
<p> Date of Birth: {{spouse.dob }}</p>
<p> Grade: {{spouse.grade }}</p>
<p> Rank: {{spouse.rank }}</p>
<p> Service Number: {{spouse.serviceNumber }}</p>


<!-- <p>First Name:{{US.fn}}</p>
<p>Last Name:{{US.ln}}</p>
<p>D.O.B:{{US.dob}}</p>
<p>Home Address:{{home.Address}}</p>
<p>Social Security:{{US.social}}</p>
<p>Service Number:{{service.Number}}</p>
<p>Grade: {{US.grade}}</p>
<p>Rank: {{US.rank}}</p>
<p>Spouse First Name:{{Spouse.fn}}</p>
<p>Spouse Last Name:{{Spouse.ln}}</p> -->
